#jinja2: lstrip_blocks: True

bootstrap:
  dcs:
    {{ _patroni_dcs_obj | to_yaml(indent=2, default_flow_style=false) | indent(width=4, first=false) }}
  {% if patroni_bootstrap_method_name |d(None, true) and patroni_bootstrap_method_command |d(None, true) %}
  method: {{ patroni_bootstrap_method_name }}
  {{ patroni_bootstrap_method_name }}:
    command: {{ patroni_bootstrap_method_command }}
    keep_existing_recovery_conf: {{ patroni_bootstrap_method_keep_existing_recovery_conf |d(false, true) |lower }}
    no_params: {{ patroni_bootstrap_method_no_params |d(false, true) |lower }}
    {% if patroni_bootstrap_method_recovery_conf |d([], true) |length > 0 %}
    recovery_conf:
      {% for item in patroni_bootstrap_method_recovery_conf %}
      {{ item.option }}: {{ item.value }}
      {% endfor %}
    {% endif %}
  {% endif %}
  {% if patroni_bootstrap_initdb |d([], true) |length > 0 %}
  initdb:
    {% for item in patroni_bootstrap_initdb %}
    {% if item.value is undefined %}
    - {{ item.option }}
    {% else %}
    - {{ item.option }}: {{ item.value }}
    {% endif %}
    {% endfor %}
  {% endif %}
  {% if patroni_bootstrap_post_bootstrap |d(None, true) %}
  post_bootstrap: {{ patroni_bootstrap_post_bootstrap }}
  {% endif %}
  {% if patroni_bootstrap_post_init |d(None, true) %}
  post_init: {{ patroni_bootstrap_post_init }}
  {% endif %}
  {% if patroni_bootstrap_pg_hba |d([], true) |length > 0 %}
  pg_hba:
    {% for client in patroni_bootstrap_pg_hba %}
    - {{ client.type }} {{ client.database }} {{ client.user }}{% if client.address is defined %} {{ client.address }}{% endif %} {{ client.method }}{% if client.options is defined %} {{ client.options }}{% endif %}
    {% endfor %}
  {% endif %}
  {% if patroni_bootstrap_users |d([], true) |length > 0 %}
  users:
    {% for user in patroni_bootstrap_users %}
    {{ user.name }}:
      password: {{ user.password }}
      {% if user.options |d([], true) |length > 0 %}
      options:
        {% for option in user.options %}
        - {{ option }}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
